/* Add overwrites as needed so that the content of the editor field is attractive and not broken */
html {
	background-color: inherit!important;;
}
body.wp-editor {
	font-family: "Open Sans";
	color: #000;
	background-color: inherit!important;
}
/* Default Font Sizes */
body, button, input, select, textarea { font-size: 15px; font-size: 1.5rem; }
h1 { font-size: 25px; font-size: 2.5rem; }
h2 { font-size: 20px; font-size: 2.0rem; }
h3 { font-size: 18px; font-size: 1.8rem; }
h4 { font-size: 17px; font-size: 1.7rem; }
h5 { font-size: 16px; font-size: 1.6rem; }
h6 { font-size: 15px; font-size: 1.5rem; }
